# Redirect all URLs to base location
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~jpreynat/atelier-preylude/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) "" [L]
</IfModule>
